@import '../Styles.module.scss';

.navbarContainer {
    background-color: $bg-main-sea-salt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5vw; /* Consistent padding */
    position: relative;
    z-index: 1000;
    width: 100%;
    min-height: min-content;
    max-width: 100%; /* Ensure it uses full width */
    margin-right: 10%;

    .logo {
        font-family: Jost;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        flex-shrink: 0; /* Prevent logo from shrinking */
        z-index: 1200; /* Ensure logo is on top */

        a {
            text-decoration: none;
            color: black;
        }
    }

    .menuButton {
        display: none;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        z-index: 1100; /* Adjust z-index to be below logo */
    }

    .navbar {
        max-width: 100vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem 2rem;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $bg-main-sea-salt;
        z-index: 1050;
        height: 6vh;
        overflow: hidden;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: 70vw;

            li {
                * {
                    font-family: Evolventa;
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-decoration: none;
                    color: black;
                    padding: 8px 24px;
                    cursor: pointer;
                    text-align: center;

                    
                }

                & > *:hover {
                    background-color: $bg-cherry-blossom;
                    border-radius: 10px;
                    color: $cl-accent-rose-red;
                }
            }

            .signOutButton {
                font-family: Evolventa;
                font-size: 1.2rem;
                font-weight: 600;
                text-decoration: none;
                color: black;
                padding: 8px 24px;
                cursor: pointer;
                background-color: transparent;
                border: none;
                text-align: center;

                &:hover {
                    background-color: $bg-cherry-blossom;
                    border-radius: 10px;
                    color: $cl-accent-rose-red;
                }
            }
        }
    }

    @media (max-width: 900px) {
        .menuButton {
            display: block;
            margin-right: 10%;
        }

        .navbar {
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            height: 100vh;
            overflow-y: auto;
            flex-direction: column; /* Ensure items stack in a column */
            align-items: center; /* Align items to center */
            justify-content: center; /* Center items vertically */

            ul {
                flex-direction: column; /* Display menu items in column */
                align-items: center; /* Center menu items horizontally */
                padding-left: 0; /* Remove padding */
                width: 100%; /* Take full width */
                max-width: none; /* Remove max-width limit */

                li {
                    width: auto; /* Adjust width to auto */
                    margin-bottom: 1rem; /* Add margin between items */
                    text-align: center; /* Center text */
                }
            }
        }

        .open {
            transform: translateX(0);
            z-index: 1100; /* Ensure menu is on top when opened */
        }

        .closeButton {
            display: block;
            font-size: 2rem;
            background: none;
            border: none;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1100;
        }
    }
}
