@import "../Styles.module.scss";

.navbarUnauthedContainer{
    background-color: $bg-main-sea-salt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 10vw 0vh 5vw;
    max-width: 100vw;

    & .logo *{
        font-family: Jost;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

    & .navbarUnauthed{
        width: 100%;

        & ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            // min-width: 35vw;
            // max-width: 40vw;
    
            & li {
                list-style-type: none;

                & > *{
                    display: block;
                    border: none;
                    background-color: transparent;
                    padding: 8px 24px;
                    cursor: pointer;
                }
                & *{
                    font-family: Evolventa;
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-decoration: none;
                    color: black;
                }
                
                &:hover{
                    background-color: $bg-cherry-blossom;
                    border-radius: 10px;

                    & * {
                        color: $cl-accent-rose-red;
                    }
                }
            }
        }
    }
}