@import '../../../styles/Styles.module.scss';

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 3%;

    & .header {
        display: flex;
        width: 90%;
        height: 25%;
        padding: 5% 0 4% 0;
        margin: 0 auto;
        align-items: flex-end;
        background-color: rgb(236, 246, 255);
        border-radius: 15px;

        & .profilePicture {
            width: 10%;
            height: 10%;
            margin-left: 5%;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
        }

        & .profileDetails {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;
            margin-left: 1rem;

            & h4 {
                font-family: "Evolventa";
                color: rgb(14, 41, 65);
                margin: 0;
            }

            & .details {
                display: flex;
                gap: 1.5rem;
                font-family: "Evolventa";

                &>*:first-child {
                    padding: .5rem 1rem;
                    font-weight: 600;
                    color: rgb(25, 79, 134);
                    background-color: rgb(204, 227, 240);
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    font-size: .8rem;

                    & svg {
                        margin-right: .5rem;
                        font-size: 1.2rem;
                    }
                }

                &>*:last-child {
                    display: flex;
                    align-items: center;
                    padding: .5rem 1rem;
                    font-weight: 600;
                    color: rgb(25, 96, 134);
                    border: 2px solid rgb(25, 89, 134);
                    border-radius: 50px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(204, 228, 240);
                    }

                    & a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: rgb(25, 87, 134);
                        font-size: .8rem;
                    }

                    & svg {
                        margin-right: .5rem;
                        font-size: 1.1rem;
                    }
                }
            }


        }
    }

    & h4 {
        font-family: "Evolventa";
        font-weight: 600;
        margin-left: 10%;
        margin-top: 2.5rem;
    }

    & .contacts {
        display: flex;
        gap: 1.5rem;
        color: rgb(71, 81, 94);
        margin-left: 10%;

        &>div {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &>div {
                display: flex;
                align-items: center;
                gap: .5rem;

                & svg {
                    font-size: 1.2rem;
                }

                & label {
                    font-family: "Evolventa";
                    font-weight: 600;
                    font-size: .9rem;
                }
            }

            & span {
                font-family: "Arial";
                color: rgb(5, 9, 35);
            }
        }
    }
}