@import "../../../styles/Styles.module.scss";

.container {
  display: flex;
  flex-direction: column;
  font-family: "Arial";
  background-color: $bg-main-sea-salt;

  & > div:nth-child(3){
    margin: 2rem auto;
  }

  & .autocompleteInput {
    margin: 5% 10% 5% auto;
  }
}
  