@import "../../../styles//Styles.module.scss";

.schedulePage{
    display: flex;
    flex-direction: column;
    .header{
        display: flex;
        flex-direction: column;
        margin: 2% 10%;

        & label{
            color: #7766C6;
            font-weight: 600;
            font-family: "Evolventa";
            font-size: 1.1rem;
        }
    }
}