$bg-main-sea-salt: #f8fbfb;
$bg-cherry-blossom: #f9b0c3;
$cl-rose-red: #cb2655;
$bg-accent-blueviolet: #5135c1;
$cl-accent-blueviolet: #2b2156;
$bg-columbia-blue: #C6EDFF;



.buttonRegular{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px 16px;
    max-width: 10rem;
}

.inputRegular, .selectRegular{
    border: none;
    border: 1px solid gray;
    width: 100%;
    max-width: 240px;
    // min-width: fit-content;
    background-color: transparent;
    padding: 0.6rem;
    border-radius: 5px;
}

.selectRegular option:first-child {
    color: #999;
}

.form{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;

    & fieldset{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: center;
        margin: 0.5rem auto;
        width: 100%;
        border: none;

        & > label{
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        & > div{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0;

            & > *{
                margin-bottom: 0;
            }

            & .icon{
                margin-right: 0.5rem;
                margin-bottom: 0;
            }
            margin-bottom: 0.5rem;

        }

        & span{
            color: gray;
            margin-top: 0.5rem;
        }

        & input:has(+select){
            width: 2rem;
        }

        & input, & select{
            padding: 0.6rem;
            border-radius: 5px;
            box-shadow: none;
            background-color: transparent;
            border: 1px solid gray;
            width: 100%;
            max-width: 240px;
        }

        & span{
            color: gray;
            margin-top: 0.5rem;
        }

        & input:has(+select){
            width: 2rem;
        }

        & label{
            text-align: left;
        }
    }

    & h3{
        margin-top: 2rem;
    }

    & button[type=submit]{
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 16px 16px;
        max-width: 10rem;
        margin: 2rem auto 0 auto;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.9rem;

        &:hover{
            background-color: $bg-cherry-blossom;
        }
    }
    select option:first-child{
        color: gray;
    }
}

.labelTitle{
    color: rgb(55, 55, 55);
    text-align: left;
    margin: 2rem 0 1rem .5rem;
    font-weight: 600;
}
  

