$bg-main-sea-salt: #f8fbfb;
$bg-cherry-blossom: #f9b0c3;
$cl-rose-red: #cb2655;

.buttonRegular{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px 16px;
    max-width: 10rem;
}