@import "../../../styles//Styles.module.scss";

.loader {
    width: 2rem;
    height: 2rem;
    border: 3px solid $bg-main-sea-salt;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: $bg-peach;
    width: 16px;
    height: 16px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
   
  
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        width: 40%;
        min-width: 45rem;
        margin: 2% 10%;
        // width: 100%;

        & label {
            color: #7766C6;
            font-weight: 600;
            font-family: "Evolventa";
            font-size: 1.1rem;
        }

        &>div:last-child {
            width: 10rem;
        }
    }

    .popup {
        z-index: 1000000;
        position: absolute;
        top: 0;
        left: 100%;
        padding: 5px;
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .tableContainerAndArrows {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

        & .buttonArrow {
            padding: 1rem;
            border-radius: 100%;
            border: none;
            background-color: $bg-main-sea-salt;
            color: $bg-peach;
            font-weight: 600;
            font-size: 2rem;
            cursor: pointer;

            &:hover {
                color: peachpuff;
            }

            &:disabled {
                background-color: #cccccc;
                cursor: not-allowed;
            }

            &:first-child {
                margin-left: auto;
            }

            &:last-child {
                margin-right: auto;
            }
        }

        .tableContainer {
            width: 80%;
            max-width: 80%;
            max-height: 70vh;
            height: 100%;
            overflow: auto;
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-direction: column;

            & .tableHeaders {
                border-radius: 15px;
                display: flex;
                background-color: $bg-columbia-blue;
                height: 3rem;
                margin-bottom: 2rem;
                color: rgb(27, 68, 139);
                font-weight: 600;
                font-family: Evolventa;
                text-align: center;
                width: 100%;
                min-width: 122rem;

                & div {
                    padding: 1rem;
                }

                & div:first-child {
                    width: 10rem;
                    min-width: fit-content;
                }

                & div:last-child {
                    width: fit-content;
                    margin-left: 30%;
                }
            }

            & table {
                border-collapse: collapse;
                height: 100%;
                width: 100%;


                & tbody {

                    & tr td {
                        border: 1px solid $bg-columbia-blue;
                        padding: .5rem;
                        font-family: "Arial";
                        font-size: .95rem;
                        // position: relative;

                        & a{
                            text-decoration: none;
                        }

                        & input {
                            width: 85%;
                        }

                        &:first-child {
                            border-top: none;
                            border-bottom: none;
                            color: rgb(27, 68, 139);
                            font-size: 1rem;
                            font-weight: 500;
                            min-width: 12rem;

                            position: sticky;
                            left: 0;
                            z-index: 1;
                            background-color: $bg-main-sea-salt;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &:not(&:first-child) {
                            padding: 0 .5rem;
                            width: 1.5rem;
                        }
                    }

                    & tr:first-child td {
                        padding: 1rem 0;
                        border-top: 1px solid $bg-columbia-blue;
                        position: sticky;
                        top: 0;
                        z-index: 15;
                        background-color: $bg-main-sea-salt;

                        &:first-child {
                            position: sticky;
                            top: 0;
                            left: 0;
                            z-index: 20;
                        }
                    }

                    & tr:last-child td {
                        border-bottom: 1px solid $bg-columbia-blue;
                    }

                    & tr:not(& tr:first-child):hover {
                        td {
                            cursor: pointer;
                            background-color: rgb(255, 236, 220);

                            &:hover {
                                background-color: peachpuff;
                            }
                            text-align: center;

                        }
                    }


                }
            }
        }
    }
}