@import "../../../styles/Styles.module.scss";

.classesPage {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;

    .classesContainer {

        margin: 5% auto;
        width: 60%;
        display: flex;

        .column0 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        .column1 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        .teacherLine {
            font-family: "Evolventa";
            margin-top: 1rem;
            display: flex;
            align-items: center;

            & svg {
                color: $cl-slate-blue;
            }

            & span {
                margin-left: .5rem;
                color: $cl-slate-blue;

                & a {
                    color: rgb(33, 18, 71);
                    margin-left: .5rem;
                }
            }
        }

        & .class {
            box-shadow: -2px 0px 25px -4px rgba(135, 166, 193, 0.558);
            border-radius: 5px;
            padding: 1.5rem;
            width: 100%;
            max-width: 20rem;
            padding: 5% 5%;
            margin-bottom: 3rem;
            max-height: 480px;
            overflow: hidden;

            & h3 {
                font-family: "Evolventa";
                color: $bg-slate-blue;
                margin: 0;
            }

            &>p {
                font-family: "Evolventa";
                color: #4aafde;
                margin-right: 1rem;
                font-weight: 600;
                font-size: 1.1rem;
                margin-bottom: .5rem;
            }

            & .members {
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
                cursor: pointer;

                &Expanded {
                    flex-direction: column;
                    height: 100%;
                    max-height: 20rem;
                    overflow-y: auto;
                }

                &>* {
                    text-decoration: none;
                    user-select: none;
                }

                & .addMemberButton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0.25rem solid $bg-columbia-blue;
                    background-color: $bg-main-sea-salt;
                    border-radius: 100%;
                    width: 3rem;
                    height: 3rem;
                    min-height: 3rem;
                    min-height: 3rem;
                    margin-bottom: 1.5rem;
                    color: $bg-columbia-blue;

                    & svg {
                        width: 1rem;
                        height: 1rem;
                    }
                }


                & .membersCircles {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;

                    & .member {
                        background-color: $bg-columbia-blue;
                        border-radius: 100%;
                        padding: .25rem;
                        width: 2.5rem;
                        height: 2.5rem;
                        margin-left: -1rem;

                        &:nth-child(2) {
                            background-color: $bg-peach;
                        }

                        &:last-child {
                            background-color: #4aafde;
                            color: $cl-sea-salt;
                            font-weight: 600;
                            font-family: "Evolventa";
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        & img {
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                            object-fit: cover;
                        }
                    }

                    &.expanded {
                        flex-direction: column;
                        max-height: 100%;
                        align-items: flex-start;

                        & .member {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            background-color: $bg-main-sea-salt;
                            border-radius: 5px;
                            padding: .25rem;
                            margin-bottom: .5rem;
                            width: 100%;
                            cursor: pointer;

                            & img {
                                background-color: $bg-columbia-blue;
                                width: 3rem;
                                height: 3rem;
                                margin-right: .5rem;
                                border-radius: 100%;
                                object-fit: cover;
                            }

                            & span {
                                color: rgb(41, 41, 42);
                                font-weight: 600;
                                font-family: "Arial";
                                font-size: .9rem;
                                width: max-content;
                                white-space: nowrap;
                                padding: 0 1rem 0 0;
                            }

                            &.expanded span {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }

        & .hideButton {
            background-color: #4aafde;
            color: $cl-sea-salt;
            font-weight: 600;
            font-family: "Evolventa";
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            cursor: pointer;

            &:hover {
                background-color: $bg-columbia-blue;
            }
        }
    }

    & .addClassButton {
        width: fit-content;
        height: fit-content;
        padding: 1rem 1rem;
        background-color: $bg-slate-blue;
        color: $cl-sea-salt;
        border: none;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 20%;

        &:hover {
            background-color: $bg-wisteria;
            color: $cl-sea-salt;
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            width: fit-content;
            margin: 0;
        }
    }

}

@media (max-width: 1024px) {
    .classesPage {
        padding: 0;

        .classesContainer {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 768px) {
    .classesPage {
        padding: 0;

        .classesContainer {
            flex-wrap: wrap;
            padding: 0;
        }
    }
}