.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;

    & h2 {
        margin-bottom: 20px;
      }
      
      & ul {
        list-style-type: none;
        padding: 0;
    
        & li {
            margin-bottom: 10px;
    
            & a {
                color: #fff;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
    
        }
    }
}
  
  
    