@import "../../../styles/Styles.module.scss";

.page {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    height: 100%;
    align-items: center;
    background-color: rgb(242, 247, 249);
    padding: 5% 0;

    .loader {
        width: 1rem;
        height: 1rem;
        border: 3px solid $bg-main-sea-salt;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
    .loader::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        background: $bg-peach;
        width: .5rem;
        height: .5rem;
        transform: translate(-50%, 50%);
        border-radius: 50%;
    }
          
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 

    .personalInfo {
        width: 50%;
        display: flex;
        justify-content: space-between;

        p {
            font-family: "Evolventa";
            font-size: 1.3rem;
            font-weight: 600;
            color: $cl-slate-blue;
            margin: 3rem auto 0 auto;
            margin-bottom: 2rem;
        }

        form {
            width: 100%;

            button {
                font-weight: 600;
                margin: 0 auto;
            } 

            .buttonCancel {
                background-color: $bg-main-sea-salt;
                color: $cl-cherry-blossom;
                border: 2px solid $bg-cherry-blossom;
                font-weight: 600;
                padding: 1rem;
                border-radius: 15px;
                max-height: 3rem;
                cursor: pointer;

                &:hover {
                    background-color: $bg-cherry-blossom;
                    color: $cl-sea-salt;
                    border: 2px solid $bg-cherry-blossom;
                }
            }
        }
    }

    & .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 30%;
        padding: 5% 0;
        border-radius: 15px;

        p {
            font-family: "Evolventa";
            font-size: 1.3rem;
            font-weight: 600;
            color: $cl-slate-blue;
            margin: 3rem auto 0 auto;
        }

        & .profilePictureBlock {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            & .profilePicture {
                border-radius: 15px;
                width: 15%;
                height: 15%;

                & img {
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            input[type="file"] {
                display: none;
            }

            & .buttonChangeProfile {
                border-radius: 100%;
                background-color: $bg-alice-blue;
                border: none;
                border: 1px solid $bg-wisteria;
                display: block;
                margin-left: -1rem;
                margin-top: auto;
                font-size: 1.2rem;
                max-width: 2.5rem;
                max-height: 2.5rem;

                & label {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: .5rem;
                    cursor: pointer;
                }

                &:hover {
                    background-color: $bg-columbia-blue;
                }
            }
        }

        & .widgets {
            width: 20%;
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            font-size: 1.5rem;
            text-decoration: none;
            color: #0b6cce;

            & > div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                background-color: $bg-main-sea-salt;
                width: 4rem;
                height: 4rem;
                box-shadow: 0 0 10px rgb(181, 216, 228);
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0 10px rgb(63, 194, 255);
                }
            }
        }
    }

    @media (max-width: 768px) {
        .personalInfo {
            width: 100%;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.1rem;
            }

            form {
                width: 90%;
            }
        }

        .header {
            width: 100%;
            padding: 5%;

            & .profilePictureBlock {
                & .profilePicture {
                    width: 25%;
                    height: 25%;
                }
            }

            & .widgets {
                width: 50%;
                font-size: 1.2rem;

                & > div {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    @media (max-width: 480px) {
        .personalInfo {
            font-family: "Arial";
            p {
                font-size: 1rem;
            }

            form {
                width: 100%;
                & fieldset{
                    width: 80%;
                }

                & div:has(button){
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .header {
            width: 100%;
            padding: 5%;

            & .profilePictureBlock {
                & .profilePicture {
                    width: 40%;
                    height: 40%;
                }
            }

            & .widgets {
                width: 60%;
                font-size: 1rem;

                & > div {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }
}
