// @import "../styles/Styles.module.scss";

// .container{
//     margin: 10% auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: "Evolventa";
//     height: 100%;
//     width: 100%;

//     & *{
//         user-select: none;
//         text-decoration: none;
//     }

//     & section{
//         width: fit-content;
//         height: fit-content;
//         padding: 1rem;
//         border-radius: 10px;
//         border: 3px solid transparent;

//         &:first-child{
//             margin-right: 15%;
//         }

//         &:hover{
//             border: 3px solid $bg-columbia-blue;
//             transition:.2s all;
//             transform: scale(.98);
//         }
//         & .image{
//             width: 100%;
//             height: 100%;
            
//             & img{
//                 max-width: 100%;
//                 max-height: 12rem;
                
//             }
//         }
    
//         & p{
//             font-weight: 600;
//             color: $cl-accent-chrysler-blue;
//             text-align: center;
//             text-decoration: none;
//         }
         
//     }

    


// }

.main_div {
    height: 100vh;
    widows: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .main_input {
    height: 2rem;
    width: 15rem;
    padding: 5px;
  }
  .main_button {
    height: 2rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading_spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #2196f3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }