@import "../styles/Styles.module.scss";

.container{
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Evolventa";
    height: 100%;
    width: 100%;

    & *{
        user-select: none;
        text-decoration: none;
    }

    section{
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        border-radius: 10px;
        border: 3px solid transparent;

        &:first-child{
            margin-right: 15%;
        }

        &:hover{
            border: 3px solid $bg-columbia-blue;
            // box-shadow:0 2px 3px 0px rgba(198, 237, 255, .25);
            transition:.2s all;

            // filter:blur(3px);
            // opacity:.5;
            transform: scale(.98);
            // box-shadow:none;
        }
        .image{
            width: 100%;
            height: 100%;
            
            & img{
                max-width: 100%;
                max-height: 12rem;
                
            }
        }
    
        p{
            font-weight: 600;
            color: $cl-accent-chrysler-blue;
            text-align: center;
            text-decoration: none;
        }
         
    }


}