@import "../../../styles/Styles.module.scss";

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        min-width: 45rem;
        margin: 2% 10%;
        // width: 100%;

        & label {
            color: #7766C6;
            font-weight: 600;
            font-family: "Evolventa";
            font-size: 1.1rem;
        }

        & > div{
            display: flex;
            flex-direction: column;
        }

        &>div:last-child {
            width: 10rem;
        }

    }
     .buttonAddHomework{
      width: fit-content;
      height: fit-content;
      padding: 1rem 1rem;
      background-color: $bg-slate-blue;
      color: $cl-sea-salt;
      border: none;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10%;
  
      &:hover{
        background-color: $bg-wisteria;
        color: $cl-sea-salt;
      }
    }

    & .homeworks{
        display: flex;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        margin-top: 3rem;
        
        & .homework{
            display: flex;
            flex-direction: column;
            font-family: "Arial";
            color: rgb(31, 31, 31);
            border: 1px solid $bg-alice-blue;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 3%;
            border-radius: 15px;
            margin-right: 5%;

            & .homeworkHeader{
                display: flex;
                justify-content: space-between;

                & .buttons{
                    display: flex;
                    height: fit-content;
                    align-items: center;
                }
            }

        
            & .subjectName{
                font-family: "Evolventa";
                color: $cl-slate-blue;
                font-weight: 600;
                margin-bottom: 1.5rem;
            }
            & .teacherFullname{
                display: flex;
                align-items: center;
                margin: 0;
                margin-top: .25rem;
                
                & a{
                    // color: black;
                    color: rgb(75, 143, 196);
                    text-decoration: none;
                }
                
                & svg{
                    color: rgb(75, 143, 196);
                    margin-right: 1rem;
                }
            }
            p{
                margin: 0;
                margin-top: .25rem;
                display: flex;
                align-items: center;

                & svg{
                    margin-right: 1rem;
                }
            }

            & .deadline{
                background-color: $bg-alice-blue;
                border-radius: 50px;
                width: fit-content;
                padding: .5rem;
                color: rgb(75, 143, 196);
            }

            & .description{
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
            }

            & .details {
                display: flex;

                & > *:first-child{
                    margin-right: 1rem;
                }
            }

        }
    }
}