@import "../../../styles/Styles.module.scss";

  .loading_spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #2196f3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .autocompleteInput{
    width: 15%;
    max-width: 7rem;
    margin: 3% 0 5% 5%;
  }

  .chats{
    background-color: rgb(234, 247, 249);
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
    font-family: "Evolventa";
    font-size: .8rem;
    
    & > div{
      border-top: .5px solid rgb(223, 223, 223);
      padding: 1rem;
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;

      & .userPhoto{
        max-width: 3rem;
        max-height: 3rem;
        border-radius: 50%;
        overflow: hidden;

        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:hover{
        background-color: $bg-cherry-blossom;
        font-weight: 600;
        color: white;
      }
    }
  }