@import "../../../../styles/Styles.module.scss";

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-accent-chrysler-blue;
    gap: 3rem;

    & .formContainer {
        font-family: "Evolventa";
        background-color: $bg-main-sea-salt;
        border-radius: 15px;
        width: 25%;
        min-width: 18rem;
        height: fit-content;
        padding: 5%;

        p{
            color: $bg-accent-chrysler-blue;
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    & .logo {
        display: flex;
        align-items: center;

        & h1 {
            font-family: 'Jost';
            color: $bg-main-sea-salt;
            margin: 0 0 0 1rem;
            font-size: 1.5rem;
        }

        & img {
            max-height: 3rem;
        }
    }
}