@import "../../styles//Styles.module.scss";


.lessonRow{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: flex-start;

  fieldset{
    // margin: 0.5rem auto;
    // width: 100%;
    border: none;
  }

  & td {
    padding: .5rem;
  };

  .subjectTime{
    display: block;
    // margin: auto 0;

    & p{
      color: #62627b;
      font-size: 0.9rem;
      margin: 0;
    }

    & .dash{
      width: 0px;
      height: .5rem;
      border: 1px dashed rgb(196, 196, 196);
      margin: 2px auto;
    }
  }
  
  .subjectText{
    display: flex;
    flex-direction: column;
    width: fit-content;
    & > div{
      display: flex;
      width: 100%;
    }
    & p{
      display: flex;
      align-items: center;
      margin: 0;
      width: fit-content;

      &:first-child{
        color: $cl-slate-blue;
        margin-bottom: .5rem;
      }

      &:last-child{
        color: #62627b;
        font-size: .9rem;
      }

      & .icon{
        margin-right: .5rem;
        height: min-content;
        width: min-content;
        display: flex;
        align-items: center;
      }
    }
  }

  button:disabled{
    color: gray;

    &:hover{
      background-color: gray;
      color: $cl-sea-salt;
    }

  }
}

//       }
//     }
      
//     // input[type="text"], textarea {
//     //   width: 100%;
//     //   padding: 5px;
//     //   border: 1px solid #ccc;
//     //   border-radius: 4px;
//     // }
    
//     button {
//       padding: 5px 10px;
//       margin: 0 2px;
//       border: none;
//       border-radius: 4px;
//       cursor: pointer;
//     }
    
    
//     button:focus {
//       outline: none;
//     }
    
//     button:hover {
//       opacity: 0.8;
//     }
    
//     .actions {
//       display: flex;
//       gap: 5px;
//     }
//   }
  
  
  