@import "../../../../styles/Styles.module.scss";

.container {
  display: flex;
  flex-direction: column;
  font-family: "Arial";
  background-color: $bg-main-sea-salt;

  & > div:nth-child(3){
    margin: 2rem auto;
  }

  & table {
    border-collapse: collapse;
    max-width: 100vw;
    overflow-x: auto;

    & th {
      color: $cl-sea-salt;
      background-color: black;
      padding: 1rem;
    }

    & thead {
      & tr {
        border-radius: 30px 0 0 0;
      }
      border: 1px solid black;
    }

    & tr {
      &:nth-of-type(even) {
          background: rgb(230, 230, 230);
      }
      &:last-child{
          border-bottom: 1px solid gray;
      }
    }

    & td {
      font-size: .8rem;
      border: 1px solid gray;
      border-top: none;
      border-bottom: none;
      padding: 1rem;
      box-sizing: border-box;

      & textarea {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 0.5rem;
          border: none;
          resize: none;
          overflow: hidden;
          font-family: "Arial";
          font-weight: 100;
          font-size: .8rem;
          background-color: transparent;
          min-height: 8rem;
          resize: vertical;
          vertical-align: middle;
          padding: 1rem;
      }

    }

    & td:has(textarea){
      padding: 0;
    }

    .buttons {
      width: min-content;
    }
  }

  & .autocompleteInput {
    margin: 5% 10% 5% auto;
  }
}
  