@import "../../Styles.module.scss";

.authPage{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: $bg-main-sea-salt;
    padding: 5% 20%;
    font-family: 'Evolventa';

    & > div{
        text-align: right;

        & .link{
            display: block;
            padding: 16px 8px;
            background-color: #5135c1;
            color: white;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            font-weight: 600;
            font-size: 1.2rem;
            margin-top: 3rem;

            &:hover{
                background-color: #b2a3f1;
            }
        }
    }

    & .logo{
        display: flex;

        & h1{
            font-family: 'Jost';
            color: #5135c1;
            margin-left: 1rem;
        }

        & img{
            max-height: 10%;
        }
    }

    form{
        font-family: Evolventa;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: center;
        min-width: 13rem;
        max-width: 25rem;

        & > fieldset{
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-content: center;
            margin: 0.5rem auto;
            width: 100%;
            border: none;

            & label{
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            & > div{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 0;

                & > *{
                    margin-right: 1rem;
                    margin-bottom: 0;
                }

                & .icon{
                    margin-right: 0.5rem;
                    margin-bottom: 0;
                }
                margin-bottom: 0.5rem;

            }

            & input{
                padding: 0.6rem;
                border-radius: 5px;
            }

            & span{
                color: gray;
                margin-top: 0.5rem;
            }

            & select{
                width: 3rem;
            }

            & input:has(+select){
                width: 2rem;
            }
        }

        & h3{
            margin-top: 2rem;
        }

        & button[type=submit]{
            margin: 2rem auto 0 auto;
            cursor: pointer;
            font-weight: 600;
            font-size: 0.9rem;

            &:hover{
                background-color: $bg-cherry-blossom;
            }
        }

    }
}


