@import "../../Styles.module.scss";

.authPage{
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 50%;
    margin: 5% auto 0 auto;
    background-color: $bg-main-sea-salt;
    font-family: 'Evolventa';


    &:first-child{
        margin-top: 20%;
    }

    & > div{
        & .link{
            display: block;
            padding: 1rem 3rem;
            background-color: #5135c1;
            color: white;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            font-weight: 600;
            font-size: 1.2rem;
            margin: 2rem auto;
            width: fit-content;

            &:hover{
                background-color: #b2a3f1;
            }
        }
    }

    & .logo{
        display: flex;
        align-items: center;

        & h1{
            font-family: 'Jost';
            color: #5135c1;
            margin: 0 0 0 1rem;
            font-size: 1.5rem;
        }

        & img{
            max-height: 3rem;
        }
    }

    h3{
        margin: 1rem auto 0 auto;
        width: fit-content;
    }
}
