.secCenter {
    position: relative;
    max-width: 100%;
    text-align: center;
    z-index: 200;
  }
  
  .dropdownInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }
  
  .sectionDropdown {
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 100%;
    left: 0;
    width: fit-content;
    min-width: 15rem;
    border-radius: 4px;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: all 200ms linear;
    max-height: 150px;
    overflow-y: auto;
    transition: max-height 0.3s ease-out;

    & > * {
      margin-bottom: 8px;
    }

  }

    .dropdownTransition {
      max-height: 0;
    }
  
    .dropdownSubCheckbox {
      display: none;
    }
  
    .forDropdownSub {
      display: block;
      color: black;
      padding: 5px;
      cursor: pointer;
      transition: all 200ms linear;
      font-weight: 600;
  
      .uil {
        transition: transform 200ms linear;
      }
    }
  
    .dropdownSubCheckbox:checked + .forDropdownSub .uil {
      transform: rotate(180deg);
    }
  
    .sectionDropdownSub {
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      transform: translateY(-10px);
      transition: opacity 200ms ease-in-out, max-height 200ms ease-in-out, transform 200ms ease-in-out;
    }
  
    .dropdownSubCheckbox:checked ~ .sectionDropdownSub {
      opacity: 1;
      visibility: visible;
      max-height: 1000px; /* A large enough value to show all items */
      transform: translateY(0);
    }
  
  
  .a {
    display: block;
    color: black;
    text-decoration: none;
    transition: all 200ms linear;
    cursor: pointer;
  
    &:hover {
      background-color: #f9b0c3;
      color: white;
    }
  }
  